<div class="container_smal-class">
  <div class="container_smal_photo">
    <img
        src="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
        alt=""
        height="150px"
        >
  </div>
  <div class="container_smal-class-right">
    <div class="container_smal_date">
      <span>29 de junho, 2023</span>
    </div>
    <div class="container_smal_description">
      <p>
        <strong>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quaerat odio aliquid nisi corporis suscipit. 
        </strong>
      </p>
    </div>
  </div>

</div>

