.container_big-card{
  width: 600px;
  height: 800px;
  padding-top: 60px;
}
.big-card_date > span {
  color: rgb(65, 63, 63);
  font-size: 15px;
  padding: 5px 0px 5px 0px;
}

.big-card_title > h1{
  font-size: 30px;
  padding: 10px 0px 10px 0px;
}
.big-card_description > p > strong{
  color: rgb(86, 84, 84);
  font-size: 20px;
}
.big-card_photo > img{
width: 600px;
}

