<div class="container_big-card">

    <div class="big-card_photo">
      <img
        src="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
        alt=""
        >
    </div>
    <div class="big-card_description-right">
      <div class="big-card_date">
        <span>29 de junho, 2023</span>
      </div>
      <div class="big-card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
      </div>
      <div class="big-card_description">
        <p>
          <strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate quaerat odio aliquid nisi corporis suscipit. Molestias sed praesentium officiis beatae, ab reprehenderit culpa vero eos fugit neque, doloremque, quo quae.</strong>
        </p>
      </div>
    </div>
</div>
