.container_big-card{
  width: 600px;
  height: 650px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-card_date > span {
  color: #413f3f;
  font-size: 10px;
  padding: 5px 0px 5px 0px;
}

.big-card_title > h1{
  font-size: 30px;
  padding: 10px 0px 10px 0px;
}
.big-card_description > p > strong{
  color: rgb(86, 84, 84);
  font-size: 15px;
}
.big-card_photo > a  > img{
width: 400px;
}

.big-card_description-right {
  width: 450px;
  padding-left: 10px;
}
/*
@media screen and (max-width: 299px) {

  .container_big-card{
    width: 735px;
    height: 550px;
    padding-top: 10px;
    align-items: center;

  }
  .big-card_date > span {
    color: rgb(65, 63, 63);
    font-size: 12px;
    padding: 5px 0px 5px 0px;
  }

  .big-card_title > h1{
    font-size: 20px;
    padding: 3px 0px 3px 0px;
  }
  .big-card_description > p > strong{
    color: rgb(86, 84, 84);
    font-size: 15px;
  }
  .big-card_photo > a > img{
  width: 450px;
  }

}

@media screen and (min-width: 449px) {
  .container_big-card{
    width: 735px;
    height: 600px;
    padding-top: 10px;
    align-items: center;

  }
  .big-card_date > span {
    color: rgb(65, 63, 63);
    font-size: 12px;
    padding: 5px 0px 5px 0px;
  }

  .big-card_title > h1{
    font-size: 20px;
    padding: 3px 0px 3px 0px;
  }
  .big-card_description > p > strong{
    color: rgb(86, 84, 84);
    font-size: 15px;
    width: auto;
  }
  .big-card_photo > a > img{
  width: 550px;
  }

}

@media screen and (min-width: 767px) {
  .container_big-card{
    width: 850px;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .big-card_date > span {
    color: rgb(65, 63, 63);
    font-size: 12px;
    padding: 5px 0px 5px 0px;
  }

  .big-card_title > h1{
    font-size: 20px;
    padding: 3px 0px 3px 0px;
  }
  .big-card_description > p > strong{
    color: rgb(86, 84, 84);
    font-size: 15px;
  }
  .big-card_photo > a > img{
  width: 500px;
  }

}


@media screen and (min-width: 912px) {
  .container_big-card{
    display: flex;
    flex-direction: row;
    width: 970px;
    height: 300px;
    padding-top: 25px;
    align-items: center;
  }
  .big-card_date > span {
    color: rgb(65, 63, 63);
    font-size: 12px;
    padding: 5px 0px 5px 0px;
  }

  .big-card_title > h1{
    font-size: 25px;
    padding: 3px 0px 3px 0px;
  }
  .big-card_description > p > strong{
    color: rgb(86, 84, 84);
    font-size: 14px;
  }
  .big-card_photo > a > img{
  width: 440px;
  padding-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container_big-card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding-top: 25px;
    align-items: center;
  }


  .big-card_date > span {
    color: rgb(65, 63, 63);
    font-size: 9px;
    padding: 5px 0px 5px 0px;
  }

  .big-card_title > h1{
    font-size: 23px;
    padding: 3px 0px 3px 0px;
  }
  .big-card_description > p > strong{
    color: rgb(86, 84, 84);
    font-size: 14px;
  }
  .big-card_photo > a > img{
  width: 450px;
  }

}

@media screen and (min-width: 1280px) {
  .container_big-card{
    width: 550px;
    height: 650px;
    padding-top: 30px;
    align-items: center;
  }
  .big-card_date > span {
    color: rgb(65, 63, 63);
    font-size: 10px;
    padding: 5px 0px 5px 0px;
  }

  .big-card_title > h1{
    font-size: 30px;

  }
  .big-card_description > p > strong{
    color: rgb(86, 84, 84);
    font-size: 20px;
  }
  .big-card_photo > a > img{
  width: 520px;
  }
  .big-card_description-right {
    width: 500px;
    padding-left: 0px;
}

}

*/
