<div class="container_big-card">

    <div class="big-card_photo">
      <a [routerLink]="['content', id]">
        <img
        src="{{ photoCover }}"
        alt=""
        >
      </a>

    </div>
    <div class="big-card_description-right">
      <div class="big-card_date">
        <span>03 de maio, 2023</span>
      </div>
      <div class="big-card_title">
        <h1> {{ cardTitle }} </h1>
      </div>
      <div class="big-card_description">
        <p>
            <strong>
              {{ cardDescription }}
            </strong>
        </p>
      </div>
    </div>
</div>
