.container__menu-title{

}

.container__menu-title > h1{
  font-size: 180px;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
  color: #fffeff;
  border-top: solid #3a38384f 2px;
  border-bottom: solid #3a38383e 2px ;

}


