
<div class="container_articles">
  <app-menu-bar></app-menu-bar>
  <app-menu-title></app-menu-title>

  <div class="articles_main">

    <app-big-card
    photoCover="https://miro.medium.com/v2/resize:fit:1400/1*qgo4_MwETtxdspEqt12sNA.png"
    cardTitle="Saiu a nova versão do Angular"
    cardDescription="Seis meses atrás, atingimos um marco significativo na simplicidade e na experiência do desenvolvedor do Angular, graduando as APIs independentes da visualização do desenvolvedor.  Hoje, estamos entusiasmados em compartilhar que estamos continuando o Angular Momentum com o maior lançamento desde o lançamento inicial do Angular ; dando grandes saltos em reatividade, renderização do lado do servidor e ferramentas. Tudo isso vem com dezenas de melhorias de qualidade de vida em solicitações de recursos, com mais de 2.500 curtidas combinadas no GitHub!"
    >
  </app-big-card>
    <div class="articles_others">
      <app-smal-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMKihYWWXhm67mmYrHY2d42G5oE8WajCzgNQ&usqp=CAU"

      cardDescription="Seis meses atrás, atingimos um marco significativo na simplicidade e na experiência do desenvolvedor do Angular, graduando as APIs independentes da visualização do desenvolvedor."></app-smal-card>
      <hr>
      <app-smal-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBUcuphT5gNv8ILw3Ad7GWtF_gqAE3pjmBkw&usqp=CAU"

      cardDescription="Seis meses atrás, atingimos um marco significativo na simplicidade e na experiência do desenvolvedor do Angular, graduando as APIs independentes da visualização do desenvolvedor."
      ></app-smal-card>
      <hr>
      <app-smal-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgQerXwRs72iTU2vTE0y1s9kG6OWqLbJiosA&usqp=CAU"

      cardDescription="Seis meses atrás, atingimos um marco significativo na simplicidade e na experiência do desenvolvedor do Angular, graduando as APIs independentes da visualização do desenvolvedor."
      ></app-smal-card>
    </div>

  </div>

</div>

