.container_articles {
  align-content: center;
  padding: 10px;
}

.articles_main {
  display: flex;
  flex-direction: row;
}
.articles_others{
  display: flex;
  flex-direction: column;

}

.articles_others > hr {

  border-color: #3a38383a;
}


@media screen and (max-width: 1020px) {
  .articles_main {
    display: flex;
    flex-direction: column;
  }
}










